@model ViewModels.RoomViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Planning Poker";
}

<div class="text-center align-items-start main">
    <div class="form-row align-items-center">
        <label class="m-1 noselect">Room:</label>
        <label class="m-1">@Model.Guid.ToString()</label>
    </div>
    <div class="form-row align-items-center noselect">
        <input id="clear-votes" type="button" value="Clear votes" />
        <input id="show-votes" type="button" value="Show votes" />
        @{
            await Html.RenderPartialAsync("_PersonType", Model?.Person?.PersonType);
        }
    </div>
    <div class="table form-row align-items-center noselect">
        @{
            foreach(var t in Model.CardSets)
            {
               <span>
                    <input type="radio" value="@t.value" id="@t.value" name="mark" />
                    <label for="@t.value">@(t.display ?? t.value)</label>
               </span> 
            }
        }
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="form-row">
                <span class="col-1">Developers</span>
                <table class="table">
                    <tbody id="people-dev">
                    </tbody>
                </table>
                <span class="col-1">Testers</span>
                <table class="table">
                    <tbody id="people-test">
                    </tbody>
                </table>
                <span class="col-1">Observers</span>
                <table class="table">
                    <tbody id="observers">
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 noselect">
            <div id="show-votes-countdown" class="form-row">
                <div><span>Showing results in </span><span id="countdown"></span><span>!</span></div>
            </div>
            <div id="statistics" class="form-row">
                <div><span>All votes</span></div>
                <canvas id="allChart"></canvas>
                <div><span>Average: </span><span id="allAverageMark"></span></div>
                <div><span>Developers votes</span></div>
                <canvas id="devChart"></canvas>
                <div><span>Average: </span><span id="devAverageMark"></span></div>
                <div><span>Testers votes</span></div>
                <canvas id="testChart"></canvas>                
                <div><span>Average: </span><span id="testAverageMark"></span></div>
            </div>            
        </div>
    </div>
</div>
<div class="fireworks"></div>
@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/fireworks-js@2.x/dist/index.umd.js"></script>
    <script type="text/javascript">connectToRoom("@Model.Guid.ToString()", "@Model.Person.Guid")</script>
}