@model ViewModels.RoomViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Planning Poker";
}

<div class="text-center align-items-start main">
    <div class="form-row align-items-center">
        <label class="m-1 noselect">Room:</label>
        <label class="m-1">@Model.Guid.ToString()</label>
    </div>
    <div class="form-row align-items-center noselect">
        <input id="clear-votes" type="button" value="Clear votes" />
        <input id="show-votes" type="button" value="Show votes" />
        <label for="isObserver" class="m-1 noselect">Observer?:</label>
        <input type="checkbox" id="isObserver" name="isObserver" class="m-1" value="true" @(Model.Person.IsObserver ? "checked='checked'" : "") />
        <label for="isDev" class="m-1 noselect">Dev?:</label>
        <input type="radio" id="isDev" name="personType" class="m-1" value="dev" @(Model.Person.PersonType == "dev" ? "checked='checked'" : "") />
        <label for="isTest" class="m-1 noselect">Tester?:</label>
        <input type="radio" id="isTest" name="personType" class="m-1" value="test" @(Model.Person.PersonType == "test" ? "checked='checked'" : "") />
    </div>
    <div class="table form-row align-items-center noselect">
        <span>
            <input type="radio" value="0" id="0" name="mark" />
            <label for="0">0</label>
        </span>
        <span>
            <input type="radio" value="0.5" id="0.5" name="mark" />
            <label for="0.5">&#189;</label>
        </span>
        <span>
            <input type="radio" value="1" id="1" name="mark" />
            <label for="1">1</label>
        </span>
        <span>
            <input type="radio" value="2" id="2" name="mark" />
            <label for="2">2</label>
        </span>
        <span>
            <input type="radio" value="3" id="3" name="mark" />
            <label for="3">3</label>
        </span>
        <span>
            <input type="radio" value="5" id="5" name="mark" />
            <label for="5">5</label>
        </span>
        <span>
            <input type="radio" value="8" id="8" name="mark" />
            <label for="8">8</label>
        </span>
        <span>
            <input type="radio" value="13" id="13" name="mark" />
            <label for="13">13</label>
        </span>
        <span>
            <input type="radio" value="20" id="20" name="mark" />
            <label for="20">20</label>
        </span>
        <span>
            <input type="radio" value="40" id="40" name="mark" />
            <label for="40">40</label>
        </span>
        <span>
            <input type="radio" value="100" id="100" name="mark" />
            <label for="100">100</label>
        </span>
        <span>
            <input type="radio" value="?" id="?" name="mark" />
            <label for="?">?</label>
        </span>
        <span>
            <input type="radio" value="coffee" id="coffee" name="mark" />
            <label for="coffee">&#x2615;</label>
        </span>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="form-row">
                <span class="col-1">Developers</span>
                <table class="table">
                    <tbody id="people-dev">
                    </tbody>
                </table>
                <span class="col-1">Testers</span>
                <table class="table">
                    <tbody id="people-test">
                    </tbody>
                </table>
                <span class="col-1">Observers</span>
                <table class="table">
                    <tbody id="observers">
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 noselect">
            <div id="show-votes-countdown" class="form-row">
                <div><span>Showing results in </span><span id="countdown"></span><span>!</span></div>
            </div>
            <div id="statistics" class="form-row">
                <div><span>All votes</span></div>
                <canvas id="allChart"></canvas>
                <div><span>Average: </span><span id="allAverageMark"></span></div>
                <div><span>Developers votes</span></div>
                <canvas id="devChart"></canvas>
                <div><span>Average: </span><span id="devAverageMark"></span></div>
                <div><span>Testers votes</span></div>
                <canvas id="testChart"></canvas>                
                <div><span>Average: </span><span id="testAverageMark"></span></div>
            </div>            
        </div>
    </div>
</div>
<div class="fireworks"></div>
@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/fireworks-js@2.x/dist/index.umd.js"></script>
    <script type="text/javascript">connectToRoom("@Model.Guid.ToString()", "@Model.Person.Guid")</script>
}